<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>GroupServlet</display-name>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>controller.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/GroupServlet</url-pattern>
  </servlet-mapping>
  <display-name>students</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SpecialityServlet</display-name>
    <servlet-name>SpecialityServlet</servlet-name>
    <servlet-class>controller.SpecialityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecialityServlet</servlet-name>
    <url-pattern>/SpecialityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupServlet</display-name>
    <servlet-name>GroupServlet_</servlet-name>
    <servlet-class>controller.GroupServlet_</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet_</servlet-name>
    <url-pattern>/GroupServlet_</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QualificationServlet</display-name>
    <servlet-name>QualificationServlet</servlet-name>
    <servlet-class>controller.QualificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualificationServlet</servlet-name>
    <url-pattern>/QualificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormEducationServlet</display-name>
    <servlet-name>FormEducationServlet</servlet-name>
    <servlet-class>controller.FormEducationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormEducationServlet</servlet-name>
    <url-pattern>/FormEducationServlet</url-pattern>
  </servlet-mapping>
</web-app>